doctype html
html
  head
    style
      include includes/common_css.css
  body
    h1 インクルード
    div
      include includes/common_view.pug
      p.include-class CSSをインクルードしています
      script
        include includes/common_script.js
