extends ../layout

block content
  h1 残りのTODO
  if !!todos
    ul
      each todo in todos
        li
          p
            | #{todo.title} [
            a(href='') 編集
            | ] [
            a(href='') 削除
            | ]
  p
    a(href='/') 戻る
