extends ../layout

block content
  h1 今日のTODO
  ul
    li
      p
        | todo_1 [
        a(href='') 編集
        | ] [
        a(href='') 削除
        | ]
    li
      p
        | todo_2 [
        a(href='') 編集
        | ] [
        a(href='') 削除
        | ]
  p
    a(href='/') 戻る
